<header>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Shop App</h1>
                <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid culpa ipsa, corrupti facilis animi aspernatur, quisquam odio facere mollitia sapiente commodi velit. Similique, tenetur! Repellat eligendi nulla fugit. Sint, architecto!</p>
            </div>
        </div>
    </header>